<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Home Page</div>
    <div class="panel-body">
     <div id="contentWrapper" class="full-page">
        <div id="myChart"></div>


        <div class="detpicker-set">
            <form action="#">
                <span> Date: </span>
                <input type="date" name="week">
                <input type="submit">
            </form>
        </div>

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Select Graph Show</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home">1 D</a>
                <a href="#about">1 W</a>
            </div>
        </div>
    </div> 
    </div>
  </div>
</div>
</div>

